!!!

<% if(jablConfig.includeAngular) { %>html(ng-app="<%= jablConfig.angular.appModuleName.camelized %>")<% }else{ %>html<% } %>
    head
        block head

            meta(charset='utf8')

            title <%= jablConfig.appTitle.original %>

            <% if(jablConfig.includeBootstrap) { %>link(rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap.css')<% } %>
            link(rel='stylesheet', href='css/style.css')

            <% if(jablConfig.includeAngular) { %>script(src='bower/angular/angular.js')<% if(jablConfig.angular.includeModules.resource) { %>
            script(src='bower/angular-resource/angular-resource.js')<% } %><% if(jablConfig.angular.includeModules.cookies) { %>
            script(src='bower/angular-cookies/angular-cookies.js')<% } %><% if(jablConfig.angular.includeModules.sanitize) { %>
            script(src='bower/angular-sanitize/angular-sanitize.js')<% } %><% } %>
            script(src='js/<%= jablConfig.appTitle.camelized %>.js')


        block body

            <% if(jablConfig.includeAngular) { %>body(ng-controller="AppCtrl")<% }else{ %>body<% } %>

                block header

                    include ../includes/header

                block content

                block footer

                    include ../includes/footer